<template>
    <div class="card bg-dark text-white">
        <div class="card-header">Hi {{ name }}.</div>

        <div class="card-body">
            What do you want to want to do today ?

            <hr>

            <a href="#" class="btn btn-block btn-primary" @click="$emit('click', 1)">I'm not sure.</a>
            <a href="#" class="btn btn-block btn-outline-primary" @click="$emit('click', 2)">
                I want to do something specific.</a>
            <a href="#" class="btn btn-block btn-danger" @click="$emit('click', 3)">Anything, please.</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ActivityChooser",
        props: ["name"],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
