<template>
    <div>
        <div class="card bg-dark text-white">
            <div class="card-header bg-danger">Emergency boredom treatment</div>

            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <h2 class="text-center">1</h2>
                    </div>
                    <div class="col-9">
                        <div class="flex my-auto">
                            <h5>Get out for a few minutes.</h5>
                            <p>The light of the sun is essential.</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <h2 class="text-center">2</h2>
                    </div>
                    <div class="col-9">
                        <div class="flex my-auto">
                            <h5>Chat with somebody.</h5>
                            <p>
                                Either with a friend, a member of your family, whoever. You are not alone in this !
                                If you need someone to talk to, the Swiss authorities have several ways to do this,
                                including an <b>emergency number.</b>
                                You can check those <a target="_blank"
                                href="https://www.bag.admin.ch/bag/en/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/kontake-neues-coronavirus.html#288204780">
                                here</a>.
                            </p>
                        </div>
                    </div>

                    <div class="col-3">
                        <h2 class="text-center">3</h2>
                    </div>
                    <div class="col-9">
                        <div class="flex my-auto">
                            <h5>Exercise.</h5>
                            <p>
                                If you can, try to find a zone where you can do some sport. Take a walk, ride a bike,
                                lift weight.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-dark text-white mt-1">
            <div class="card-header">New activities</div>
            <div class="card-body">
                Why not try something completely new ? Here are 20 completely random activities for you. <br>
                <a :href="'https://www.google.ch/search?q=' + k.title"
                   v-for="k in movies">
                    {{ k.title }} <br>
                </a>
                <a :href="'https://www.google.ch/search?q=' + k.code.name"
                   v-for="k in activities" v-if="k.code">
                    {{ k.code.name}}<br>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Emergency",
    mounted() {
        this.getRandomActivities();
    },
    data() {
        return {
            activities: [],
            movies: []
        }
    },
    methods: {
        getRandomActivities: function(){
            axios.get("/preferences/random").then(res => {
                this.movies = res.data.slice(0, 10);
                this.activities = res.data.slice(10, 20);
            });
        }
    }
}
</script>

<style scoped>

</style>
