<template>
    <div>
        <div class="alert alert-warning" v-if="!suggestion">
            Please wait, we are searching stuff to recommend for you :)
        </div>

        <div v-else>
            <div class="d-flex justify-content-center">
                <div v-if="suggestion.type === 'flim'">
                    <img :src="suggestion.photo" alt="" class="mb-3">
                    <h4 class="text-center">
                        <a :href="'https://www.google.ch/search?q=' + suggestion.title" target="_blank">
                            <i>{{ suggestion.title }}</i>
                        </a>
                    </h4>
                </div>
                <div v-if="suggestion.type === 'activity'">
                    <h4>Perhaps you'd like to try the following :
                        <a :href="'https://www.google.ch/search?q=' + suggestion.name" target="_blank">
                            <i>{{ suggestion.name }}</i>
                        </a>
                    </h4>
                    <h5>
                        According to our records this would be appreciated by you.
                    </h5>
                </div>
            </div>
            <div class="row">
                <a href="#" v-for="(key, grade) in grades"
                   class="btn btn-xl btn-outline-light col-2"
                   @click="rateSuggestion(suggestion, grade)">
                    {{ key }}
                </a>
            </div>
            <hr>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InfiniChoose",
        mounted() {
            this.getSuggestions();
        },
        data: function (){
            return {
                grades: {0: 'Hated it', 1: 'Meh', 2: 'Kinda good', 3: 'Good', 4: 'Great', 5: 'Spot on!'},
                suggestion: null,
            }
        },
        methods: {
            getSuggestions: function(){
                axios.get("/random").then(res => {
                    this.suggestion = res.data;
                })
            },

            rateSuggestion: function (data, grade){
                axios.post("/meetandgreet", {type: data.type, id: data.id, grade: grade}).then(res => {
                    this.suggestion = null;
                    this.getSuggestions();
                });
            }
        }
    }
</script>

<style scoped>

</style>
