<template>
    <div>
        <div v-if="preferences && preferences.activities && (preferences.activities.length === 0 ||
            preferences.flims.length === 0)">
            <meet-and-greet :name="user.name"></meet-and-greet>
        </div>
        <div v-else>
            <activity-chooser v-if="screen === 0" :name="user.name" @click="handleClick"></activity-chooser>
            <div class="card bg-dark text-white" v-if="screen === 1">
                <div class="card-header">Here's a subject. What do you think ?</div>

                <div class="card-body">
                    <infini-choose></infini-choose>
                </div>
            </div>
            <new-activity v-if="screen === 2"></new-activity>
            <emergency v-if="screen === 3"></emergency>
        </div>

        <div class="alert alert-info mt-3">
            <b>Did you know ?</b><br>
            If our activites are not fun enough, you can always play with our background. It's pretty stupid but
            we spent hours playing with it. ¯\_(ツ)_/¯
        </div>
        <button @click="screen = 0" v-if="screen > 0" class="btn btn-block btn-primary"><< Go back</button>
    </div>

</template>

<script>
    import InfiniChoose from "./InfiniChoose";
    import ActivityChooser from "./ActivityChooser";
    import MeetAndGreet from "./MeetAndGreet";
    import Emergency from "./Emergency";
    import NewActivity from "./NewActivity";

    export default {
        name: "main-menu",
        props: ["user"],
        mounted() {
            this.getPreferences();
        },
        data() {
            return {
                screen: 0,
                preferences: []
            }
        },
        methods: {
            getPreferences: function(){
                axios.get("/preferences").then(res => {
                    this.preferences = res.data;
                })
            },

            handleClick: function(event){
                this.screen = event;
            }
        },
        components: {
            InfiniChoose,
            ActivityChooser,
            MeetAndGreet,
            Emergency,
            NewActivity

        }
    }
</script>
