<template>
    <div class="card bg-dark text-white">
        <div class="card-header">Hi {{ name }}. Nice to meet you.</div>

        <div class="card-body">
            Let's get to know each other a bit.
            I have suggested a few activities that you might enjoy. Feel free to tell me
            if you like them or not.

            <hr>
            <div class="alert alert-warning" v-if="!suggestion">
                Please wait, we are searching stuff to recommend for you :)
            </div>

            <div v-else>
                <div class="d-flex justify-content-center">
                    <div v-if="suggestion.type === 'flim'">
                        <img :src="suggestion.photo" alt="" class="mb-3">
                        <h4 class="text-center">{{ suggestion.title }}</h4>
                    </div>
                    <div v-if="suggestion.type === 'activity'">
                        <h4>Perhaps you'd like to try the following : <i>{{ suggestion.code.name }}</i></h4>
                        <h5>
                            Folks of your age spend {{ (suggestion.duration / 120).toFixed(2) }}
                            hours in average doing this.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <a href="#" v-for="(key, grade) in grades"
                       class="btn btn-xl btn-outline-light col-2"
                       @click="rateSuggestion(suggestion, grade)">
                        {{ key }}
                    </a>
                </div>
                <hr>
                <a href="/" class="btn btn-block btn-primary" v-if="counter > 10">
                    Enough questions !
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MeetAndGreet",
        props: ['name'],
        mounted() {
            this.getSuggestions();
        },
        data: function (){
            return {
                grades: {0: 'Hated it', 1: 'Meh', 2: 'Kinda good', 3: 'Good', 4: 'Great', 5: 'Spot on!'},
                suggestion: null,
                counter: 0
            }
        },
        methods: {
            getSuggestions: function(){
                axios.get("/meetandgreet").then(res => {
                    this.suggestion = res.data[0];
                })
            },

            rateSuggestion: function (data, grade){
                axios.post("/meetandgreet", {type: data.type, id: data.id, grade: grade}).then(res => {
                    this.suggestion = null;
                    this.getSuggestions();
                    this.counter += 1;
                });
            }
        }
    }
</script>

<style scoped>

</style>
