<template>
    <div>
        <div class="card bg-dark text-white">
            <div class="card-header bg-info">
                Specific activities
            </div>
            <div class="card-body">
                <div class="row">
                    <div v-for="su in suggestions" class="col-6">
                        <a :href="'https://www.google.ch/search?q=' + su.title" v-if="su.type === 'flim'" target="_blank">
                            <i>{{ su.title }}</i>
                        </a>
                        <a :href="'https://www.google.ch/search?q=' + su.name" v-if="su.type === 'activity'"
                           target="_blank">
                            <i>{{ su.name }}</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "new-activity",
        mounted() {
            this.getSuggestions();
        },
        data: function (){
            return {
                suggestions: null,
            }
        },
        methods: {
            getSuggestions: function(){
                axios.get("/randomA").then(res => {
                    this.suggestions = res.data;
                })
            }
        }
    }
</script>

<style scoped>

</style>
